extends layout

block content
  div(id="chat-container")
    div(id="chat-id-header") Chat ID: 
      span(id="chatroom-id")= chatId
      button(type="button", id="copy-id-btn")
        i(class="far fa-file")
      span(id="copied-notice") Chat ID Copied

    div(id="chat-window", class="card")
      div(id="chat-window-list-group", class="list-group")

    form(id="message-form" novalidate)
      div(class="input-group")
        input(type="text", id="message", class="form-control", aria-label="Message to send",
        aria-describedby="send-message-button")
        button(type="button", id="send-btn") Send
      
  script(src="/js/chat.js")